.editGigContainer {
    background: white;
    width: 94%;
    max-height: 93%;
    align-self: flex-start;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .05);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}


.editGigForm label{
    display: block;
    width: 99%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.editGigForm input {
    padding: 1rem 2rem;
}

.editGigForm input[type=submit]{
    background: #BB2F3D;
    border: none;
    display: block;
    padding: 1rem 2rem;
    cursor: pointer;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    margin-top: 2rem;
}

.gigForm input[type=submit]:hover{
    background: #146e7a;
}

.locationsContainer .Select--single{
    color: #BB2F3D !important;
}